<p>home works!</p>
<button class="btn btn-primary">Delete<i class="pi pi-trash" style="font-size: 2rem"></i></button>
<i class="fa fa-user fa-5x"></i>
<i class="fa fa-dashboard fa-5x"></i>
<i class="fa fa-money fa-5x"></i>
<i class="fa fa-home fa-5x"></i>
<i class="fa fa-th fa-5x"></i>


<br>
<!-- <span class="bg-danger p-3 rounded-circle  "> -->
<i class="bi bi-trash3 text-light"></i>
<!-- </span> -->

<br> <br> <br>

<span class="bg-success p-3 rounded-circle  ">
    <i class="bi bi-pencil text-light"></i>
</span>


<i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
<i class="pi pi-spin pi-cog" style="font-size: 2rem"></i>
<br>

<i class="pi pi-trash" style="font-size: 2rem"></i>